<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.AskLeaveDao">

    <!-- insert语句 -->
    <insert id="insertLeaveMessage" parameterType="LeaveMessage" keyProperty="id">
        INSERT INTO askforleave(something, time) VALUE (#{something}, #{time});
    </insert>


</mapper>